/* Minification failed. Returning unminified contents.
(425,17): run-time error CSS1039: Token not allowed after unary operator: '-color-text'
(427,28): run-time error CSS1039: Token not allowed after unary operator: '-color-bg'
 */

.h-line-23 {
    line-height: 23px;
}
/*SECTION STYLES*/
/* #region animation-header */

#animationBblock canvas {
    width: 100% !important;
    height: 100% !important;
    background: #f2f2f2;
}
 
#animationBblock {
    height: 900px;
    position: relative;
}

    #animationBblock .animation-header {
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #314354;
        margin-bottom: 20px;
    }

#animationBblock .anime-title {
    position: relative;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 8px;
}
#animationBblock .hurricane-subtitle {
    font-size: 16px;
    line-height: 23px;
    text-align: center;
}

    #animationBblock .anime-description {
        color: #314354;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        width: 495px;
    }

 .anime-buttons {
    display: flex;
    margin-top: 37px;
    width: 475px;

}

#animationBblock .anime-buttons {
    margin-bottom: 290px;
    font-weight: 600;
    margin-left: -7px;
}

#animationBblock .btn-anime {
    margin: 0 7px;
}

.anim-social-ico {
    height: 30px;
    position: absolute;
    bottom: 1%;
    display: flex;
    justify-content: space-around;
}
.anim-ico {
    height: 20px;
    cursor: pointer;
}

.waves-flex{
    display: flex;
    justify-content: center;
}
/* new buttons */
/* Button Styles */
/*#hurricane .button {
    background: #fff;
}

#animationBblock .button {
    background: inherit;
}

#hurricane .button,
#animationBblock .button {
    display: inline-flex;
    border: 2px solid #0397a7;
    margin: 20px 20px 20px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 207px;
    height: 39px;
    color: #0397a7;
}
*/
.button a {
    color: #0397a7;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


/* First Button */

#arrow-hover {
    width: 15px;
    height: 10px;
    position: absolute;
    transform: translateX(60px);
    opacity: 0;
    -webkit-transition: all .25s cubic-bezier(.14, .59, 1, 1.01);
    transition: all .15s cubic-bezier(.14, .59, 1, 1.01);
    margin: 0;
    padding: 0 5px;
}

a#button-1:hover img {
    width: 15px;
    opacity: 1;
    transform: translateX(50px);
}


/* Second Button */

#button-2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

    #button-2 a {
        position: relative;
        transition: all .35s ease-Out;
    }

#slide {
    width: 100%;
    height: 100%;
    left: -200px;
    background: #BFC0C0;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
}

#button-2:hover #slide {
    left: 0;
}

#button-2:hover a {
    color: #2D3142;
}


/* Third Button */

#button-3 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 25px;
}

    #button-3 a {
        position: relative;
        transition: all .45s ease-Out;
    }

#circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: #0397a7;
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
}

#button-3:hover #circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -70px;
    left: -70px;
}

#button-3:hover a {
    color: white;
}


/* Fourth Button */

#button-4 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

    #button-4 a {
        position: relative;
        transition: all .45s ease-Out;
    }

#underline {
    width: 100%;
    height: 2.5px;
    margin-top: 15px;
    align-self: flex-end;
    left: -200px;
    background: #BFC0C0;
    position: absolute;
    transition: all .3s ease-Out;
    bottom: 0;
}

#button-4:hover #underline {
    left: 0;
}


/* Fifth Button */

#button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

    #button-5 a {
        position: relative;
        transition: all .45s ease-Out;
    }

#translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: #BFC0C0;
    position: absolute;
    transition: all .3s ease-Out;
}

#button-5:hover #translate {
    left: 0;
}

#button-5:hover a {
    color: #2D3142;
}


/* Sixth Button */

#button-6 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

    #button-6 a {
        position: relative;
        transition: all .45s ease-Out;
    }

#spin {
    width: 0;
    height: 0;
    opacity: 0;
    left: 70px;
    top: 20px;
    transform: rotate(0deg);
    background: none;
    position: absolute;
    transition: all .5s ease-Out;
}

#button-6:hover #spin {
    width: 200%;
    height: 500%;
    opacity: 1;
    left: -70px;
    top: -70px;
    background: #BFC0C0;
    transform: rotate(80deg);
}

#button-6:hover a {
    color: #2D3142;
}


/* Seventh Button */

#button-7 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

    #button-7 a {
        position: relative;
        left: 0;
        transition: all .35s ease-Out;
    }

#dub-arrow {
    width: 100%;
    height: 100%;
    background: #BFC0C0;
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-Out;
    bottom: 0;
}

#button-7 img {
    width: 20px;
    height: auto;
}

#button-7:hover #dub-arrow {
    left: 0;
}

#button-7:hover a {
    left: 150px;
}

/* #endregion */

/* #region hurricane*/

#hurricane main {
    position: relative;
    width: 100%;
    height: 100%;
}

#hurricane .content {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    min-height: 100%;
}

#hurricane .codrops-header {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    align-self: start;
    grid-area: header;
    justify-self: start;
}

#hurricane .content__text {
    color: #314354;
    grid-area: 1 / 1 / 1 / 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

#hurricane .scene {
    position: absolute;
}

#hurricane .scene--left {
    width: 100vmin;
    height: 100vmin;
    transform: translate3d(-50vmin,0,0);
}

#hurricane .scene--full {
    width: 100% !important;
    height: 100% !important;
}

#hurricane .scene--up {
    height: 150vmin;
    width: 150vmin;
    top: -50vh;
    left: 50%;
    margin-left: -75vmin;
}

#hurricane .hurricane-container {
    font-weight: 500;
    min-height: 100%;
    color: #fff;
    color: var(--color-text);
    background-color: #000;
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#hurricane .hurricane-title {
    position: relative;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 2px;
}

#hurricane .hurricane-subtitle {
    font-size: 30px;
    width: 800px;
    line-height: 35px;
    margin-top: 18px;
    text-align: center;
}

#hurricane .anime-buttons {
    width: 500px;
    margin-bottom: 90px;

}

#hurricane .btn-anime {
    margin: 0 7px;
}

#hurricane {
    height: 850px;
    position: relative;
}
    
/* #endregion */

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
 .row.no-gutters > [class^="col-"],
 .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
 }

.zero-padding {
    padding: 0;
}

.section-1 {
    min-height: 711px;
    padding-top: 115px;
    background: url('../images/img001.png') 50% bottom no-repeat;
    margin-bottom: -35px;
    position: relative;
}

.section-1 h2 {
    max-width: 820px;
    margin: auto;
    font-size: 2.25em;
    font-weight: 300;
    color: #323f4e;
    line-height: 1.3333333em;
}

.section-2 {
    background-color: #00bac3;
    background: linear-gradient(#00bac3, #006b8c);
    color: #fff;
    padding-top: 110px;
    padding-bottom: 95px;
}

.section-2 h3 {
    color: #fff;
    margin-bottom: 64px;
}

.section-2 .icon {
    border-radius: 50%;
    background-color: #00bcd4;
    width: 80px;
    height: 80px;
    margin: auto;
}

.section-2 .icon > span {
    background: url(../images/icons1.png);
    display: inline-block;
    width: 100%;
    height: 100%;
}

.section-2 .icon .icon-startups {
    background-position: 0 80px;
}

.section-2 .icon .icon-agencies {
    background-position: 0 160px;
}

.section-2 .title {
    font-size: 1.875em;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    min-height: 3em;
    font-weight: bold;
}

.section-2 ul {
    margin: 0;
    padding-left: 20px;
}

.section-2 ul > li{
    font-size: 13.3pt;
}

.section-3 {
    padding-top: 100px;
    padding-bottom: 100px;
}

    .section-3 h3 {
        font-size: 2em;
        color: #4c5e70;
        margin: 0 0 50px;
    }

.section-3 .services-list {
    font-size: 1em;
    margin-right: 3em;
    border: 1px solid #dfebf6;
    border-top: 0;
    border-left: 0;
}

.section-3 .services-list li {
    margin: 0;
    border: 0;
    border-top-width: 1px;
    border-left-width: 1px;
    border-color: #dfebf6;
    border-style: solid;
    width: 50%;
    padding-top: 28.2%;
}

.section-3 .services-list li a {
    text-align: center;
    color: #323f4e;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0;
    border: 2px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.section-3 .services-list li a:hover,
.section-3 .services-list li a:focus,
.section-3 .services-list > li.active > a,
.section-3 .services-list > li.active > a:focus,
.section-3 .services-list > li.active > a:hover {
    background: none;
    color: #323f4e;
}

.section-3 .services-list li a:hover {
    border: 2px solid #009ece;
    border-radius: 2px;
}

.section-3 .services-list li.active {
    background: linear-gradient(#009ece, #00bac3);
    box-shadow: 12px 16px 54px 10px rgba(53,101,103,0.3);
    z-index: 1;
}

.section-3 .services-list li.active a,
.section-3 .services-list li.active a:hover,
.section-3 .services-list li.active a:focus {
    color: #fff;
}

.section-3 .services-list li.active a:hover {
    border-color: transparent;
}

.section-3 .services-list .service-icon {
    height: 60px;
    width: 60px;
    margin: auto;
    margin-bottom: 20px;
    background-position: 100% 0%;
    background-repeat: no-repeat;
}

.section-3 .services-list .service-icon-sprite{
    background-image: url(../images/index/services-icon-sprite.svg);
    background-repeat: no-repeat;
    background-size: 290px 227px;
}

.section-3 .services-list .icon-size{
    width: 42px;
    height: 42px;
}

.section-3 .services-list .icon-display{
    display: inline-block;
    margin: 18px 38px 18px 38px;
}

.technology-cosulting-icon{
    background-position: 0px 0px;
}

.section-3 .services-list li.active .technology-cosulting-icon,
.section-3 .services-list a:hover .technology-cosulting-icon,
.section-3 .services-list a:focus .technology-cosulting-icon {
    background-position: 0px -62px; 
}

.business-analysis-icon{
    background-position: -62px 0px;
}

.section-3 .services-list li.active .business-analysis-icon,
.section-3 .services-list a:hover .business-analysis-icon,
.section-3 .services-list a:focus .business-analysis-icon {
    background-position: -62px -62px; 
}

.internet-of-things-icon{
    background-position: -124px 0px;
}

.section-3 .services-list li.active .internet-of-things-icon,
.section-3 .services-list a:hover .internet-of-things-icon,
.section-3 .services-list a:focus .internet-of-things-icon {
    background-position: -124px -62px; 
}

.desktop-software-dev-icon{
    background-position: -186px 0px;
}

.section-3 .services-list li.active .desktop-software-dev-icon,
.section-3 .services-list a:hover .desktop-software-dev-icon,
.section-3 .services-list a:focus .desktop-software-dev-icon {
    background-position: -186px -62px; 
}

.cloud-icon{
    background-position: -248px 0px;
}

.section-3 .services-list li.active .cloud-icon,
.section-3 .services-list a:hover .cloud-icon,
.section-3 .services-list a:focus .cloud-icon {
    background-position: -248px -62px; 
}

.big-data-icon{
    background-position: 0px -123px;
}

.section-3 .services-list li.active .big-data-icon,
.section-3 .services-list a:hover .big-data-icon,
.section-3 .services-list a:focus .big-data-icon {
    background-position: 0px -185px; 
}

.web-dev-icon{
    background-position: -62px -123px;
}

.section-3 .services-list li.active .web-dev-icon,
.section-3 .services-list a:hover .web-dev-icon,
.section-3 .services-list a:focus .web-dev-icon {
    background-position: -62px -185px; 
}

.soft-testing-icon{
    background-position: -124px -123px;
}

.section-3 .services-list li.active .soft-testing-icon,
.section-3 .services-list a:hover .soft-testing-icon,
.section-3 .services-list a:focus .soft-testing-icon {
    background-position: -124px -185px; 
}

.mob-app-dev-icon{
    background-position: -186px -123px;
}

.section-3 .services-list li.active .mob-app-dev-icon,
.section-3 .services-list a:hover .mob-app-dev-icon,
.section-3 .services-list a:focus .mob-app-dev-icon {
    background-position: -186px -185px; 
}

.design-icon{
    background-position: -248px -123px;
}

.section-3 .services-list li.active .design-icon,
.section-3 .services-list a:hover .design-icon,
.section-3 .services-list a:focus .design-icon {
    background-position: -248px -185px; 
}


.section-3 .title {
    font-size: 3em;
    border-left: 3px solid #0097a7;
    padding: 30px 50px 30px;
    margin-bottom: 30px;
}

.section-3 .summary {
    margin-bottom: 35px;
}

.section-3 .list-title {
    font-weight: 700;
    margin-bottom: 15px;
}

.section-3 ul.list {
    margin-bottom: 50px;
    list-style-image: url('../images/icon-list-item-arrow.png');
    padding-left: 27px;
}

.section-3 ul.list li {
    padding-left: 12px;
}

.section-4 {
    background-color: #f2f5f8;
}

.section-4 .video-play-btn-wrp {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-4 .video-play-btn-wrp .btn {
    min-width: 100px;
    border: 2px solid #fff;
    margin-bottom: 18px;
    background: none;
    line-height: 1;
}

.section-4 .image {
    object-fit: cover;
    height: 750px;
}

.section-4 .image-description{
    margin: 0 auto;
    height: 750px;
}

.section-4 .image-description .center-section {
    position: absolute;
    top: calc(50% - 281.5px);
}

.section-4 .under-line{
    margin-top: 0px;
}

.section-4 .video-play-btn-wrp .btn > span {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 21px;
    border-color: transparent transparent transparent #ffffff;
    vertical-align: middle;
}

.section-4 .video-mobile {
    display: none;
}

.section-4-right {
    padding-left: 70px;
}

.section-4-right h3 {
    margin-top: 100px;
    margin-bottom: 45px;
}

.section-4-right .title {
    font-size: 3em;
    margin-bottom: 50px;
}

.section-4-right .content {
    margin-bottom: 45px;
}

.section-5 {
    padding-top: 120px;
    padding-bottom: 100px;
    overflow: hidden;
}

.section-5 .circle-wrp {
    width: 600px;
    height: 1463px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.section-5 .circle-wrp.circle-wrp-right {
    right: 0;
    left: auto;
}

.section-5 .circle {
    width: 1463px;
    height: 1463px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid;
    top: 0;
}

.section-5 .circle.blue-circle {
    border-color: #00bcd4;
}

.section-5 .circle.red-circle {
    border-color: #ff5252;
    top: 151px;
}

.section-5 .circle-wrp.circle-wrp-left .circle.blue-circle {
    left: 52px;
}

.section-5 .circle-wrp.circle-wrp-left .circle.red-circle {
    left: 97px;
}

.section-5 .circle-wrp.circle-wrp-right .circle.blue-circle {
    right: 86px;
}

.section-5 .circle-wrp.circle-wrp-right .circle.red-circle {
    right: 41px;
}

.section-5 .images-centered{
    margin:auto;
}

.section-5 .title {
    font-size: 3em;
    margin-top: 40px;
    margin-bottom: 70px;
}

.section-5 .domain-items {
}

.section-5 .domain-items .item .caption {
    min-height: 4em;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}

.section-5 .icon-domain {
    margin-bottom: 20px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.section-5 .icon-domain.icon-software-vendors {
    background-image: url('../images/domains/software-vendors.png');
}

.section-5 .icon-domain.icon-automotive {
    background-image: url('../images/domains/automotive.png');
}

.section-5 .icon-domain.icon-real-estate {
    background-image: url('../images/domains/real-estate.png');
}

.section-5 .icon-domain.icon-sports {
    background-image: url('../images/domains/sports.png');
}

.section-5 .icon-domain.icon-healthcare {
    background-image: url('../images/domains/healthcare.png');
}

.section-5 .icon-domain.icon-ecommerce {
    background-image: url('../images/domains/ecommerce.png');
}

.section-5 .icon-domain.icon-001 {
    background-image: url('../images/domains/001.png');
}

.section-5 .icon-domain.icon-002 {
    background-image: url('../images/domains/002.png');
}

.section-5 .icon-domain.icon-003 {
    background-image: url('../images/domains/003.png');
}

.section-5 .icon-domain.icon-004 {
    background-image: url('../images/domains/004.png');
}

.section-5 .icon-domain.icon-005 {
    background-image: url('../images/domains/005.png');
}

.section-5 .icon-domain.icon-006 {
    background-image: url('../images/domains/006.png');
}

.section-5 .icon-domain.icon-007 {
    background-image: url('../images/domains/007.png');
}

.section-5 .icon-domain.icon-008 {
    background-image: url('../images/domains/008.png');
}

.section-5 .icon-domain.icon-009 {
    background-image: url('../images/domains/009.png');
}

.section-5 .icon-domain.icon-010 {
    background-image: url('../images/domains/010.png');
}

.section-5 .icon-domain.icon-011 {
    background-image: url('../images/domains/011.png');
}

.section-5 .icon-domain.icon-012 {
    background-image: url('../images/domains/012.png');
}

.section-6 {
    background-color: #f2f5f8;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-6 h3 {
    margin-bottom: 55px;
}

.section-6 .title {
    font-size: 2.5em;
    float: left;
    line-height: 1.1;
}

    .section-6 .portfolio-nav {
        float: right;
        margin: 0;
    }

    .section-6 .title {
        margin: 0;
    }

    .section-6 .portfolio-list {
        overflow-x: auto;
        white-space: nowrap;
        width: auto;
        text-align: center;
    }

.section-6 .portfolio-list .item {
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    overflow: hidden;
}

.section-6 .portfolio-list .item img {
    border-radius: 5px;
}

.section-6 .portfolio-list .item:hover .overlay {
    opacity: 1;
}

.section-6 .portfolio-list .item .overlay {
    background: rgba(0, 151, 167, 0.95);
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    bottom: 0;
    border-radius: 5px;
    overflow: hidden;
    transition: opacity 0.2s;
    white-space: normal;
    padding: 100px 20px 20px;
}

.section-6 .portfolio-list .item .overlay .title {
    font-size: 1.5em;
    min-height: 3.5em;
    line-height: 1.3em;
}

.section-6 .portfolio-list .item .overlay .description {
    font-size: 0.875em;
    min-height: 7.5em;
    line-height: 1.3em;
}

.section-6 .portfolio-list .item .overlay .btn {
    border: 2px solid #fff;
    min-width: 170px;
    min-height: 37px;
    line-height: 37px;
}

.section-6 .mCustomScrollBox {
    padding-bottom: 50px;
}

.section-6 .mCSB_scrollTools {
    opacity: 1;
}

.section-6 .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    width: 40%;
    margin: auto;
    margin-top: 50px;
    height: 29px;
}

.section-6 .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
    width: 95px !important;
}

.section-6 .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 29px;
    margin: auto;
}

.section-6 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #f7f7f7;
    border: 2px solid #0097a7;
}

.section-6 .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.section-6 .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #f7f7f7;
}

.section-6 .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: #f7f7f7;
}

.section-6 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar::after {
    content: '';
    background: url(../images/dot.png);
    display: inline-block;
    width: 27px;
    height: 11px;
    margin-top: 7px;
}

.section-6 .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    background-color: #b4cbe0;
    margin: 14px 0;
}

.section-7 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-7 h3 {
    margin-bottom: 50px;
}

.section-7 .title {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.section-7 .content {
    font-size: 1.125em;
    margin-bottom: 70px;
}

.section-7 .clients-list .item {
    border-radius: 10px;
    border: 2px solid #dfebf6;
    max-width: 220px;
    height: 106px;
    padding: 17px;
    display: -ms-flexbox;
    display: flex;
}

.section-7 .clients-list .item img {
    width: auto;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    -ms-flex-item-align: center;
}

.section-7 .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 40px;
}

.section-7 .owl-theme .owl-dots .owl-dot span {
    width: 14px;
    height: 14px;
    border: 4px solid #fff;
    background: #92b1cc;
}

.section-7 .owl-theme .owl-dots .owl-dot.active span,
.section-7 .owl-theme .owl-dots .owl-dot:hover span {
    background: #0097a7;
    width: 14px;
    height: 14px;
    border: 3px solid #cceaed;
}

.section-8 {
}

.section-8 > div {
    display: -ms-flexbox;
    display: flex;
}

.section-8 .icon-quote {
    display: inline-block;
    background: url('../images/icon-quote.png');
}

.section-8 .icon-quote.icon-quote-lg {
    position: absolute;
    right: 0;
    top: -49px;
    width: 250px;
    height: 184px;
    opacity: 0.1;
}

.section-8-left {
    max-height: 700px;
    color: #fff;
    background: linear-gradient(#009ece, #00bac3);
    float: left;
    overflow: hidden;
    position: relative;
}

.section-8-left .owl-carousel .owl-dots {
    display: none;
}

.section-8-left .title {
    font-size: 1.875em;
}

.section-8-left .quote-header {
    display: -ms-flexbox;
    display: flex;
    margin: 40px 0;
}

.section-8-left .quote-header .icon-quote {
    width: 49px;
    height: 36px;
    background-size: 100%;
}

.section-8-left .quote-header .slide-quote-btn {
    width: 23px;
    height: 23px;
    margin: auto;
    background: url('../images/btn-quote-prev.png');
    background-repeat: no-repeat;
    border: none;
    outline: none;
}

.section-8-left .quote-header .slide-quote-btn + .slide-quote-btn {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 11px;
}

.section-8-left .quote-header .line {
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: auto 15px;
    border-top: 1px solid rgba(255,255,255,.5);
}


.section-8-left .quote-content {
    font-size: 1.5em;
    margin-bottom: 45px;
}

.section-8-left .quote-author-wrp {
    font-style: italic;
    padding-right: 5px;
}

.section-8-left .quote-author-wrp .name {
    font-size: 1.125em;
    font-weight: 700;
}

.section-8-left > div {
    padding: 100px 265px 80px 200px;
}

.section-8-right {
    background: linear-gradient(-45deg, #a9dbe3 17%, #f5fdfe 68%);
    width: calc(100% - 64%);
    float: left;
    background-size: auto 100%;
    position: relative;
}

.section-8-right div {
    background-image: url('../images/index/thumb.png');
    background-repeat: no-repeat;
    width: 325px;
    height: 285px;
    margin: -131px 0 0 -131px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.section-8-right > div {
}

.section-9 {
}

.section-9 > div {
    display: -ms-flexbox;
    display: flex;
}

.section-9-left > div {
    padding: 100px 150px 100px 200px;
    height: 100%;
}

.section-9-left .title {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.section-9 .contact-us-form {
}

.section-9 .contact-us-form label {
    font-size: 0.875em;
    font-weight: 300;
    margin-bottom: 5px;
    white-space: nowrap;

    top: 35px;
    position: relative;
    transition: 0.3s;
}

.section-9 .contact-us-form input,
.section-9 .contact-us-form textarea {
    width: 100%;
    border: none;
    padding: 10px 0;
    font-weight: 700;
    line-height: 1em;
    outline: none;
    resize: vertical;
    opacity: 0.8;
}

.section-9 .contact-us-form textarea {
    min-height: 30px;
}

.section-9 .contact-us-form .btn-submit {
    min-height: 41px;
    line-height: 1;
    margin: 20px 0px 20px 20px;
}

.section-9 .contact-us-form .icon-forward {
    display: inline-block;
    width: 20px;
    height: 17px;
    background: url('../images/icon-forward.png') no-repeat 0 0;
}

#rc-imageselect, .g-recaptcha {
display: inline; 
}

#rc-imageselect{
max-width: 100%;
}

.section-9-right {
    position: relative;
    background: linear-gradient(31deg, #0a3466 -25%, #17b9e5 125%);
    color: #fff;
}

.section-9-right::after {
    content: '';
    display: inline-block;
    background: url('../images/img004.png');
    width: 317px;
    height: 168px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
}

.section-9-right > div {
    padding: 275px 87px 0px 107px;
    height: 100%;
    transition: padding 1s;
}

.section-9-right > div.animate {
    padding-top: 117px;
    padding-bottom: 117px;
}

.section-9 .title {
    font-size: 29pt;
    font-weight: 500;
    word-spacing: 3pt;
}

.section-9 .content {
    margin-bottom: 40px;
}

.section-9 .email-link {
    color: inherit;
}

.section-9 .icon {
    padding-left: 40px;
    position: relative;
}

.section-9 .icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 25px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center 5px;
}

.section-9 .icon.icon-location::before {
    background-image: url('../images/icon-location.png');
}

.section-9 .icon.icon-phone::before {
    background-image: url('../images/icon-phone.png');
}

.section-9 .icon.icon-mail::before {
    background-image: url('../images/icon-mail.png');
}


.section-9 .social-icon {
    display: inline-block;
    width: 34px;
    height: 33px;
    margin-right: 5px;
}

@media (min-width: 1300px){
    .section-7 #clients-list{
        width: 1182px;
    }
}

@media (min-width:1200px) {

    .section-8-left {
        width: 64%;
    }

    .section-9-left {
        width: 64%;
    }

    .section-9-right {
        width: calc(100% - 64%);
    }
}

@media (max-width:992px) {

    .section-4-right .title {
        margin-bottom: 20px;
    }

    .section-4-right h3 {
        margin-top: 55px;
        margin-bottom: 30px;
    }
}

@media (max-width:1420px) and (min-width:1200px ) {
    .section-9 .contact-us-form .btn-submit {
        width: 100%;
        line-height: 45px;
        margin: 110px 0px 20px 20px;
    }

    .contact-frame_captcha-wrp {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(max-width: 768px){
    .section-9 .contact-us-form .btn-submit {
        width: 100%;
        line-height: 45px;
        margin: 110px 0px 20px 20px;
    }
}

@media (max-width:767px) {

    section h3 {
        font-size: 24px;
    }

    .section-1 {
        padding-top: 0px;
    }

    .section-1 h2 {
        font-size: 24px;
    }

    .section-2 .title {
        font-size: 24px;
        font-weight: bold;
    }

    .section-2 .container .col-xs-12:nth-child(2) {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .section-3 {
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .section-3 .tab-content {
        padding: 30px 0px;
    }

    .section-3 .button {
        text-align: center;
    }

    .section-4 .image-description {
        height: auto;
    }

    .section-4-right .button {
        text-align: center;
    }

    .section-4-right {
        padding-left: 15px;
    }

    .section-4 .video-mobile {
        display: block !important;
        position: relative;
    }

    .section-4 .image-description .center-section {
        position: sticky !important;
        position: -webkit-sticky !important;
        margin: 30px 30px;
    }

    .section-5 {
        padding-bottom: 40px;
    }

    .section-5 .title {
        font-size: 36px;
    }

    /*.section-5 img {
        content: url("/images/img006.png");
        max-width: 410px;
    }*/

    .section-6 {
        padding-top: 45px;
        padding-bottom: 0px;
    }

    .section-6 h3 {
        margin-bottom: 35px;
    }

    .section-6 .title {
        font-size: 36px;
    }

    .section-6 .nav-pills {
        box-shadow: none;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    /*.section-6 .nav-pills > li {
        width: 49%;
        box-shadow: inset 0 0 0 2px #dfebf6;
        border-radius: 100px;
        margin: 15px 0px 0px 0px;
    }

    .section-6 .nav-pills > li:nth-of-type(even) {
        margin-right: 2%;
    }

    .section-6 .nav-pills > li:first-child {
        width: 100%;
    }

    .section-6 .nav-pills > li > a {
        text-align: center;
    }*/

    .section-6 .title {
        width: 100% !important;
        margin: 0;
    }

    .section-6 .portfolio-nav {
        width: 100% !important;
        margin: 0;
    }

    .section-6 .mCSB_1_scrollbar {
        display: none !important;
    }

    .section-6 .mCustomScrollBox {
        padding-bottom: 0px;
    }

    .section-7 {
        padding-top: 50px;
    }

    .section-7 .title {
        font-size: 30px;
    }

    .section-7 h3 {
        margin-bottom: 30px;
    }

    .section-8-left .title {
        font-size: 25px;
    }

    .section-8-left .quote-content {
        font-size: 18px;
    }   

    .section-9-left > div {
        height: 951px;
    }

    .section-9-right .social {
        text-align: center;
        margin-bottom: 100px;
    }
    
    .section-9-right::after {
        width: 266px;
        height: 121px;
    }
}

@media(max-width: 568px){
    .section-6 .portfolio-nav{
	display: none;
    }
}

@media (max-width:558px) {
    .section-9-left > div {
        height: 1024px;
    }
}

@media (max-width:1200px) {

    .section-3 .title {
        font-size: 30px;
    }

    .section-3 .services-list {
        margin: 0px;
    }

    .section-3 .services-list li {
        margin-right: 0px;
        width: 100%;
        padding-top: 100px;
    }

    .section-3 .services-list li a > div {
        position: absolute;
        top: 50%;
        left: calc(50% - 5px);
        transform: translate(-50%, -50%);
        width: 100%;
        
        display: flex;
        align-items: center;
    }
    
    .section-3 .services-list li a .service-icon {
        float: left;
    }

    .section-3 .services-list li a .service-text {
        width: calc(100% - 156px);
        float: left;
        text-align: left;
    }

    .section-4 .image-description .center-section {
    position: absolute;
    top: calc(50% - 322.5px);
}

    .section-8-left > div {
        padding: 70px 20px 0px 20px;
    }
    
    .section-9-left {
        background-color: white;
    }

    .section-9-left > div {
        padding: 60px 5px 50px 5px;
    }

    .section-9-right > div {
        padding: 140px 0px 0px 45px;
    }

    .section-9-right > div.animate {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .section-9 > div {
        display: block;
    }

    .section-9-right .social {
        margin-left: -45px;
    }
}

@media(max-width: 767px) {
    #hurricane .content__text {
        min-height: 400px;
        width: 300px;
    }

    #hurricane .hurricane-subtitle {
        width: inherit;
        font-size: 14px;
        line-height: 17px;
    }

    #hurricane .anime-buttons {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: inherit;
    }

    #hurricane .btn-anime {
        margin: 14px 0 0;
    }

    #hurricane .hurricane-title {
        font-size: 28px;
        text-align: center;
    }
}

@media(max-width: 990px) {
    #hurricane .hurricane-title {
        text-align: center;
    }
}

@media(max-width: 390px) {
    #hurricane {
        height: 600px;
    }
}

@media(max-width: 520px) {
    #hurricane {
        height: 650px;
    }
}

@media(max-width: 1300px) {
    #hurricane {
        height: 600px;
    }
}

.our-case {
    min-height: 450px;
    background: #d1ebf0;
    display: flex;
    background-size: cover;
}

.case-title {
    font-size: 25px;
    font-weight: 600;
}

.case-solution {
    font-size: 33px;
    font-weight: bold;
    color: black;
}

.case-conatain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    text-align: center;
}

.case-flex-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.case-images {
    display: flex;
    justify-content: center;
}

.case-study-logo-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.case-study-logo-left {
    position: relative;
    bottom: 10px;
    margin: 0 10px;
}

@media(max-width: 520px) {
    .case-images {
        flex-direction: column;
    }
}

