﻿
@{
    ViewBag.Title = "xx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en" class="js">


<head>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4666212-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-4666212-2');
    </script>
    <meta property="og:type" content="website" />
    <meta property='og:image' content="https://www.byteant.com/images/big-logo.png" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our approach | ByteAnt</title>
    <meta name="description" content="Our ability to deliver outstanding results for our clients starts with our team of experienced developers, talented project managers, and QA engineers">
    <meta name="keywords" content="SaaS developement, Iot developement, app development, connected cars, best real estate crm 2018, crm development, ai solutions, healthcare app, iot for automotive, big data developement, .Net development, outstaffing .NET, outsoursing web, web development, real estate crm development">


    <link href="~/Content/stylesb4a5.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicons/favicon-16x16.png">
    <link rel="manifest" href="../images/favicons/manifest.json">
    <link rel="mask-icon" href="../images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://www.google-analytics.com/" crossorigin>
    <link rel="preconnect" href="https://forms.hubspot.com/" crossorigin>
    <link rel="preconnect" href="https://track.hubspot.com/" crossorigin>
    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="../fonts/GothaProBol.woff2">
    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="../fonts/GothaProMed.woff2">
    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="../fonts/GothaProReg.woff2">
    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="../fonts/GothaProLig.woff2">
</head>
<body id="top" class="overflow-hidden" data-spy="scroll" data-target=".navbar-collapse">

    <div id="loader-wrp">
        <div id="loader">
            <div class="loader-item1"></div>
            <div class="loader-item2"></div>
            <div class="loader-item3"></div>
            <div class="loader-item4"></div>
        </div>
    </div>

    <div class="navbar navbar-default slide-in" role="navigation">
        <div class="container-fluid header-container">
            <div class="container">
                <div class="navbar-header">
                    <div class="nav-toggle navbar-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <a href="../index.html" class="navbar-brand smoothScroll">
                        <div>
                            <img src="../images/logo.svg" class="logo" alt="ByteAnt Logo" />
                        </div>
                    </a>
                </div>
                <div class="pull-right">
                    <a href="../contact-us/index.html" class="get-in-touch smoothScroll visible-lg">
                        <span>Contact us</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse text-center">
                    <ul class="nav navbar-nav">
                        <li class="nav-item-centered "><a href="../services/index.html" class=""><span>What we do</span></a></li>
                        <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                        <li class="nav-item-centered "><a href="../portfolio/index.html" class=""><span>Success stories</span></a></li>
                        <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                        <li class="nav-item-centered "><a href="index.html" class="nav-active"><span>Who we are</span></a></li>
                        <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                        <li class="nav-item-centered "><a href="../blog/index.html" class=""><span>Blog</span></a></li>
                        <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                        <li class="nav-item-centered "><a href="../careers/index.html" class=""><span>Careers</span></a></li>

                        <li class="col-sm-3 visible-xs"><a href="../contact-us/index.html"><span>Contact us</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="header-small navbar navbar-default" role="navigation">
        <div class="container header-container">

            <div class="navbar-header">
                <div class="navbar-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a href="../index.html" class="navbar-brand smoothScroll">
                    <div>
                        <img src="../images/logo.svg" class="logo logo-small" alt="ByteAnt Logo" />
                    </div>
                </a>
            </div>
            <div class="pull-right">
                <a href="../contact-us/index.html" class="get-in-touch smoothScroll visible-lg ">
                    <span>Contact us</span>
                </a>
            </div>
            <div class="collapse navbar-collapse text-center">
                <ul class="nav navbar-nav">
                    <li class="nav-item-centered "><a href="../services/index.html" class=""><span>What we do</span></a></li>
                    <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                    <li class="nav-item-centered "><a href="../portfolio/index.html" class=""><span>Success stories</span></a></li>
                    <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                    <li class="nav-item-centered "><a href="index.html" class="nav-active"><span>Who we are</span></a></li>
                    <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                    <li class="nav-item-centered "><a href="../blog/index.html" class=""><span>Blog</span></a></li>
                    <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                    <li class="nav-item-centered "><a href="../careers/index.html" class=""><span>Careers</span></a></li>

                </ul>
            </div>
        </div>
    </div>

    <div class="popup-menu">
        <div class="text-center m-b-lg">
            <ul class="nav navbar-nav col-xs-8">
                <li><a href="../services/index.html"><span>What we do</span></a></li>
                <li><a href="../portfolio/index.html"><span>Success stories</span></a></li>
                <li><a href="index.html"><span>Who we are</span></a></li>
                <li><a href="../blog/index.html"><span>Blog</span></a></li>
                <li><a href="../careers/index.html"><span>Careers</span></a></li>
                <li><a href="../contact-us/index.html"><span>Contact us</span></a></li>
            </ul>
        </div>
    </div>

    <a href="#" id="return-to-top">
        <img src="../images/arrow-to-top.svg" />
    </a>



    <div class="about-us-page">


        <section class="section-1">
            <div class="title-padding container">
                <h3 class="title">Who we are</h3>
                <div class="subtitle">
                    A TEAM OF TECH GEEKS READY TO TAKE YOUR CHALLENGE
                </div>
                <div class="since">
                    <span>since</span>
                    <br>2006
                </div>
            </div>
        </section>

        <section class="section-2">
            <div class="text-wrap">
                <div class="section our-story-section">
                    <div class="text">
                        <div class="title">Company Overview</div>
                        <div class="summary">
                            <p>ByteAnt is a results-driven software development company with a solid background in creating actionable tech-enabled solutions for small and midsize businesses worldwide. We leverage the huge potential of emerging innovations like AI, ML, Big Data and IoT to give you a competitive edge in today’s digital world.</p>
                        </div>
                    </div>
                    <div class="our-story-img img-position"></div>
                </div>

                <div class="connecting-line">
                    <img src="../images/dashed-line-right.svg" />
                </div>

                <div class="section-right byteant-highlights-section">
                    <div class="byteant-highlights-img img-position-right"></div>
                    <div class="text-right">
                        <div class="title section-left">ByteAnt highlights</div>
                        <div class="summary">
                            <ul class="list list-section">
                                <li>A team of 30+ IT specialists</li>
                                <li>Established in 2006</li>
                                <li>Average developer experience 5+ years</li>
                                <li>Experience in working with clients from the USA and Western Europe</li>
                                <li>Based in Lviv, Ukraine (EET)</li>
                                <li>100+ of delivered projects</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="connecting-line">
                    <img src="../images/dashed-line-left.svg" />
                </div>

                <div class="section our-goals-section">
                    <div class="text">
                        <div class="title">Our mission and values</div>
                        <div class="summary">
                            <p><span>To provide professional expertise, individual technology solutions to transform businesses with innovation. </span></p>
                            <ul>
                                <li><span>Innovation</span></li>
                                <li>Client focus</li>
                                <li><span>Experience</span></li>
                                <li><span>Teamwork</span></li>
                                <li><span>Quality</span></li>
                                <li><span>Trust</span></li>
                                <li><span>Transparency</span><span></span><span></span></li>
                                <li><span>Reasonable pricing</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="our-goals-img img-position"></div>
                </div>

                <div class="connecting-line">
                    <img src="../images/dashed-line-right.svg" />
                </div>

                <div class="section-right our-vision-section">
                    <div class="our-vision-img img-position-right"></div>
                    <div class="text-right">
                        <div class="title section-left">Working with us</div>
                        <div class="summary">
                            <p>With customer satisfaction in mind, here at ByteAnt, we provide a full scope of custom-built tech solutions catering to your business needs.</p>
                            <p>We always give an ear to your feedback to streamline the ongoing development process and come up with the best possible results. We pay great attention to the confidentiality of any information related to our customers.</p>
                            <p>Our priority is building a long-term partnership with our clients through great products and exceptional customer service. </p>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section id="staff">
            <div class="container">
                <h3 class="under-line ">our leaders</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row no-gutters person-info">
                            <div class="col-sm-5 image" data-style="background-image: url(/media/1171/ceo.jpg);">
                            </div>
                            <div class="col-sm-7 text">
                                <div class="info">
                                    <h3 class="name">Valeriy Ilchenko</h3>
                                    <h1 class="position">CEO</h1>
                                    <p class="description">
                                        Valeriy is a result-oriented leader and business development visionary with a profound experience in technology (since 2004). Coding is his big passion: he started working on software development being a teenager.
                                        Education: M.Sc. in Applied Mathematics (System Analysis) from the I.Franko National University of Lviv.
                                    </p>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row no-gutters person-info">
                            <div class="col-sm-5 image" data-style="background-image: url(/media/1172/cto.jpg);">
                            </div>
                            <div class="col-sm-7 text">
                                <div class="info">
                                    <h3 class="name">Andriy Zelinskyy</h3>
                                    <h1 class="position">COO</h1>
                                    <p class="description">
                                        Andriy has over 10 years of engineering experience and is a fan of innovative approaches and trending technologies. He combines his professional technology leadership activities with expertise-sharing practices at Lviv Polytechnic National University.
                                        Education: PhD in Engeneering Information Technologies and M.Sc. in Finances.
                                    </p>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="section-4" id="locations">
            <div class="container">
                <h3 class="text-center">
                    Customer geography
                    <div class="middle-under-line"></div>
                </h3>
                <div class="row">
                    <div class="col-xs-12">
                        <img class="img-responsive hidden-xs" src="../images/about-us/map.svg" />
                        <img class="img-responsive visible-xs" src="../images/about-us/world_map_mini.svg" />
                        <div class="hidden-xs">
                            <div id="canada">
                                <span>canada</span>
                                <div class="point-icon"></div>
                            </div>
                            <div id="usa">
                                <span>usa</span>
                                <div class="point-icon"></div>
                            </div>
                            <div id="iceland">
                                <span>iceland</span>
                                <div class="point-icon"></div>
                            </div>
                            <div id="uk">
                                <div class="float-left">
                                    <span>UNITED KINGDOM</span>
                                    <br />
                                    <span>BELGIUM</span>
                                    <br />
                                    <span>NETHERLANDS</span>
                                </div>
                                <div class="point-line-cross-icon"> </div>
                            </div>
                            <div id="norway">
                                <div class="point-line-up-icon"> </div>
                                <div class="float-right">
                                    <span>norway</span>
                                    <br />
                                    <span>sweden</span>
                                    <br />
                                    <span>denmark</span>
                                </div>
                            </div>
                            <div id="lithuania">
                                <div class="point-line-down-sm-icon"> </div>
                                <div>
                                    <span>lithuania</span>
                                    <br />
                                    <span>estonia</span>
                                    <br />
                                    <span>SWITZERLAND</span>
                                    <br />
                                </div>
                            </div>
                            <div id="italy">
                                <div class="point-line-down-lg-icon"></div>
                                <div>
                                    <span>italy</span>
                                    <br />
                                    <span>greece</span>
                                    <br />
                                    <span>turkey</span>
                                </div>
                            </div>

                            <div id="south-africa">
                                <div class="point-icon"></div>
                                <span>south africa</span>
                            </div>
                            <div id="china">
                                <div class="point-icon"></div>
                                <span>china</span>
                            </div>
                            <div id="singapore">
                                <div class="point-icon"></div>
                                <span>singapore</span>
                            </div>
                            <div id="australia">
                                <span>australia</span>
                                <div class="point-icon"></div>
                            </div>
                            <div id="new-zeland">
                                <span>new zealand</span>
                                <div class="point-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-5">
            <div class="left col-md-6 hidden-xs"><img src="../images/lviv2.jpg" alt="" /></div>
            <div class="right col-md-6">
                <h3 class="under-line under-line-white">Our Home</h3>
                <div class="title">
                    <div class="clock">
                        <div class="clock-face">
                            <div class="dots">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <div class="inset-clock-face">
                                <div class="hand hour-hand"></div>
                                <div class="hand min-hand"></div>
                                <div class="hand second-hand"></div>
                            </div>
                        </div>
                    </div>
                    Lviv, Ukraine <span>(EET)</span>
                </div>
                <p class="summary"><span>Lviv - is the most attractive city in Ukraine in IT industry. The city combines a huge pool of highly skilled developers with geographical and cultural proximity to Western markets. There are eight high-end universities with more than four thousand talented IT-graduates every year. Close location to the EU (only 70km) makes it a convenient destination for outsourcing. That is why one-third of the clients of Lviv IT-companies are Europeans, and half of them are Americans. Our clients are always welcome to visit our office and beautiful home city! </span></p>
            </div>
        </section>

        <section class="section-8">
            <div class="row no-gutters">
                <div class=" visible-lg">
                    <img class="phones" src="../images/about-us/phones.png" />
                </div>
                <div class="">
                    <div class="title text-center">Need a successful project?</div>
                    <div class="summary text-center">Let's make something awesome together!</div>
                    <div class="button text-center">
                        <a href="../contact-us/index.html" class="btn btn-blue">
                            <span>Get in touch</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </div>


    <footer class="">
        <div class="text-center">
            <ul class="nav navbar-nav">
                <li class="nav-item-centered "><a href="../index.html" class=""><span>Home</span></a></li>
                <li class="nav-item-centered "><a href="../services/index.html" class=""><span>What we do</span></a></li>
                <li class="nav-item-centered "><a href="../portfolio/index.html" class=""><span>Success stories</span></a></li>
                <li class="nav-item-centered "><a href="index.html" class="nav-active"><span>Who we are</span></a></li>
                <li class="nav-item-centered "><a href="../blog/index.html" class=""><span>Blog</span></a></li>
                <li class="nav-item-centered "><a href="../careers/index.html" class=""><span>Careers</span></a></li>
                <li class="nav-item-centered "><a href="../contact-us/index.html" class=""><span>Contact us</span></a></li>

            </ul>
        </div>
        <hr />
        <div class="text-center">
            © 2006-2019 ByteAnt<br class="visible-xs" /> All rights reserved.
        </div>
    </footer>


    <script src="~/Scripts/scriptsb09e.js"></script>
    <script>
        $.cookieMessage({
            'mainMessage': '<p>This website uses cookies to provide you with great user experience. By using this website you consent to our use of these cookies.</p>',
            'acceptButton': 'Got It!',
            'backgroundColor': '#f2f5f8',
            'fontColor': '#324354;',
            'linkFontColor': '#324354',
            'btnBackgroundColor': 'inherit',
            'btnFontColor': '#323f4e',
        });
    </script>


</body>

</html>
