﻿
@{
    /**/

    ViewBag.Title = "bos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






    <div id="loader-wrp">
        <div id="loader">
            <div class="loader-item1"></div>
            <div class="loader-item2"></div>
            <div class="loader-item3"></div>
            <div class="loader-item4"></div>
        </div>
    </div>



    <div class="popup-menu">
        <div class="text-center m-b-lg">
            <ul class="nav navbar-nav col-xs-8">
                <li><a href="services/index.html"><span>What we do</span></a></li>
                <li><a href="portfolio/index.html"><span>Success stories</span></a></li>
                <li><a href="/Home/Aboutus"><span>Who we are</span></a></li>
                <li><a href="blog/index.html"><span>Blog</span></a></li>
                <li><a href="careers/index.html"><span>Careers</span></a></li>
                <li><a href="contact-us/index.html"><span>Contact us</span></a></li>
            </ul>
        </div>
    </div>

    <a href="#" id="return-to-top">

        <img src="~/images/arrow-to-top.svg" />
    </a>




    <div id="hurricane" class="hurricane-container" style="border-bottom: 1px solid #dfebf6;">
        <main>
            <div class="content">
                <canvas class="scene scene--full" id="canvas" width="400" height="400" style="opacity:0.5"></canvas>
                <script type="text/javascript">
                    var canvas = document.getElementById('canvas');
                    var ctx = canvas.getContext('2d');
                    ctx.strokeStyle = '#28d1fa';

                    ctx.lineWidth = 17;
                    ctx.lineCap = 'round';
                    ctx.shadowBlur = 15;
                    //   ctx.shadowColor = '#28d1fa';

                    function degToRad(degree) {
                        var factor = Math.PI / 180;
                        return degree * factor;
                    }

                    function renderTime() {

                        var now = new Date();
                        var today = now.toDateString();
                        var time = now.toLocaleTimeString();
                        var hours = now.getHours();
                        var minutes = now.getMinutes();
                        var seconds = now.getSeconds();
                        var milliseconds = now.getMilliseconds();
                        var newSeconds = seconds + (milliseconds / 1000);

                        // Background
                        gradient = ctx.createRadialGradient(200, 200, 5, 200, 200, 300);
                        gradient.addColorStop(0, '#ffffff');
                        gradient.addColorStop(1, '#ffffff');
                        ctx.fillStyle = gradient;
                        ctx.fillRect(0, 0, 400, 400);

                        // Hours
                        ctx.beginPath();
                        ctx.arc(200, 200, 170, degToRad(270), degToRad((hours * 30) - 90));
                        ctx.stroke();

                        // Minutes
                        ctx.beginPath();
                        ctx.arc(200, 200, 140, degToRad(270), degToRad((minutes * 6) - 90));
                        ctx.stroke();
                        // Seconds
                        ctx.beginPath();
                        ctx.arc(200, 200, 110, degToRad(270), degToRad((newSeconds * 6) - 90));
                        ctx.stroke();
                        // Date
                        //ctx.font = "20px Helvetica";
                        //ctx.fillStyle = '#28d1fa';
                        //ctx.fillText(today, 140, 200);

                        // Time
                        ctx.font = "15px Helvetica";
                        ctx.fillStyle = 'darkred';
                        ctx.fillText(time, 160, 280);

                    }
                    setInterval(renderTime, 40);
                </script>
                <div class="container content__text ">
                    <h2 class="content__title hurricane-title" style="color:darkred;opacity:0.5">Dijital Yarışı kazanın</h2>
                    <h3 class="content__subtitle hurricane-subtitle" style="color:darkred;opacity:0.5">
                        İşiniz için büyümeyi ve yeni değeri artırmak için inovasyonu nasıl kullanacağınızı keşfedin
                    </h3>
                    <div class="anime-buttons">
                        <div class="button btn-anime">
                            <a href="#" class="btn btn-blue-big" id="learn">
                                <span>Daha Fazla Öğren</span>
                            </a>
                        </div>
                        <div class="button btn-anime">
                            <a href="contact-us/index.html" target="_blank" class="btn btn-blue-big">
                                <span>
                                    tahmini proje
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <section class="section-3" id="services">
        <div class="container">
            <h3 class="under-line">Servislerimiz</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-6 zero-padding">
                    <ul class="nav nav-pills services-list">

                        <li class=active>
                            <a href="#" data-target="#tab1" data-toggle="pill">
                                <div>
                                    <div class="service-icon-sprite cloud-icon icon-size icon-display"></div>
                                    <div class="service-text">Yazilim Hizmeti / Bulut Çözümleri</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab2" data-toggle="pill">
                                <div>
                                    <div class="service-icon-sprite business-analysis-icon icon-size icon-display"></div>
                                    <div class="service-text">Nesnelerin interneti</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab3" data-toggle="pill">
                                <div>
                                    <div class="service-icon-sprite desktop-software-dev-icon icon-size icon-display"></div>
                                    <div class="service-text">Kişisel Yazılım Geliştirme</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab4" data-toggle="pill">
                                <div>
                                    <div class="service-icon-sprite big-data-icon icon-size icon-display"></div>
                                    <div class="service-text">Büyük Veri</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab5" data-toggle="pill">
                                <div>
                                    <div class="service-icon-sprite web-dev-icon icon-size icon-display"></div>
                                    <div class="service-text">Web Geliştirme</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab6" data-toggle="pill">
                                <div>
                                    <div class="service-icon-sprite mob-app-dev-icon icon-size icon-display"></div>
                                    <div class="service-text">Mobile Uygulama Geliştirme</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab7" data-toggle="pill">
                                <div>
                                    <div class="service-icon-sprite technology-cosulting-icon icon-size icon-display"></div>
                                    <div class="service-text">
                                        Teknoloji danışmanlığı
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab8" data-toggle="pill">
                                <div>
                                    <div class="service-icon-sprite design-icon icon-size icon-display"></div>
                                    <div class="service-text">UI/UX Tasarımı</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab9" data-toggle="pill">
                                <div>
                                    <div class="service-icon-sprite internet-of-things-icon icon-size icon-display"></div>
                                    <div class="service-text">İş analizi</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab10" data-toggle="pill">
                                <div>
                                    <div class="service-icon-sprite soft-testing-icon icon-size icon-display"></div>
                                    <div class="service-text">Kalite güvencesi &amp; Test</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="tab-content">

                        <div id="tab1" class="tab-pane fade active in">

                            <div class="title">Yazilim Hizmeti / Bulut Çözümleri</div>
                            <div class="summary">
                                <div class="summary">
                                    <p><strong>Bulut tabanlı hızlı ve güvenilir ürünler üretmeyi biliyoruz</strong></p>
                                    <p>Hizmet Olarak Yazılım, şirket içi üretim kapasitenizi bulut tabanlı ortamlara yeniden tahsis etmenin mükemmel bir yoludur. İşlerini büyütmeyi ve operasyonel verimliliği arttırmayı planlayan şirketler için kullanışlı bir yöntem. <br /> 2B TURKUAZ, güvenilir bulut barındırma, isteğe bağlı kaynaklara mükemmel erişim, güvenli kullanımdan yararlanmak isteyenler için uygun maliyetli Servis hizmeti çözümleri sunmaktadır. veri depolama ve çok kiralama</p>
                                </div>
                            </div>

                            <div class="button">
                                <a href="services/saas-cloud-solutions/index.html" class="btn btn-blue">
                                    <span>Daha Fazla</span>
                                </a>
                            </div>

                        </div>
                        <div id="tab2" class="tab-pane fade ">

                            <div class="title">Nesnelerin İnterneti</div>
                            <div class="summary">
                                <p><strong>We develop unique and powerful IoT solutions for individuals and enterprises</strong></p>
                                <p>IoT has altered a whole business mindset of how companies should interact with their customers across multiple touchpoints. Our software solutions leverage the benefits of IoT to measure real-time feedback data and gain invaluable insights for getting an overall business performance and efficiency boost.</p>
                            </div>

                            <div class="button">
                                <a href="services/internet-of-things/index.html" class="btn btn-blue">
                                    <span>View more</span>
                                </a>
                            </div>

                        </div>
                        <div id="tab3" class="tab-pane fade ">

                            <div class="title">Custom Software Development</div>
                            <div class="summary">
                                <p><strong>ByteAnt provides results-driven custom development services for organizations of any size</strong></p>
                                <p>We offer custom-built software development services to help you gain a competitive edge on the market. We do enjoy a trusted portfolio of personalized software development solutions like CRM, ERP, Document Management and Reports Systems, Project Management Applications.</p>
                            </div>

                            <div class="button">
                                <a href="services/custom-software-development/index.html" class="btn btn-blue">
                                    <span>View more</span>
                                </a>
                            </div>

                        </div>
                        <div id="tab4" class="tab-pane fade ">

                            <div class="title">Big Data</div>
                            <div class="summary">
                                <div class="summary">
                                    <p><strong>We believe data and analytics are the drivers of digital transformation</strong></p>
                                    <p>ByteAnt offers Big Data development services to deliver customizable solutions for a variety of clients ranging from budding startups to large-scale incumbents. Our professional teams of in-house developers and architects are downright ready to dwell on the most essential components of your Big Data project, transform the insights obtained into technical requirements and build a reliable software solution.</p>
                                </div>
                            </div>

                            <div class="button">
                                <a href="services/big-data/index.html" class="btn btn-blue">
                                    <span>View more</span>
                                </a>
                            </div>

                        </div>
                        <div id="tab5" class="tab-pane fade ">

                            <div class="title">Web Development</div>
                            <div class="summary">
                                <p><strong>We create websites ranging from small blogs to large commercial sites with hundreds of web pages</strong></p>
                                <p>As a customer-focused company, our paramount goal is to provide high-quality and market-ready projects that capture end-user attention, boost lead conversion rates and skyrocket your business revenues. We eagerly lend our customers a helping hand when it comes to solid web development solutions that showcase great efficiency on both desktop and mobile platforms.</p>
                            </div>

                            <div class="button">
                                <a href="services/web-development/index.html" class="btn btn-blue">
                                    <span>View more</span>
                                </a>
                            </div>

                        </div>
                        <div id="tab6" class="tab-pane fade ">

                            <div class="title">Mobile App Development</div>
                            <div class="summary">
                                <p><strong>We know how to build fast and reliable cloud-based products</strong></p>
                                <p>ByteAnt proffers cutting-edge mobile app development solutions on all major platforms: iOS, Android and Windows Phone. We take on the whole software development lifecycle starting off with concept ideation and finishing with final product deployment and further support.</p>
                            </div>

                            <div class="button">
                                <a href="services/mobile-app-development/index.html" class="btn btn-blue">
                                    <span>View more</span>
                                </a>
                            </div>

                        </div>
                        <div id="tab7" class="tab-pane fade ">

                            <div class="title">Technology consulting</div>
                            <div class="summary">
                                <p><strong>Bridging the gap between business expectations and IT fulfillment</strong></p>
                                <p>Here at ByteAnt, we provide our customers with actionable end-to-end software development services powered by AI, Big Data and ML solutions. We leverage over 11 years of IT expertise to create full-fledged customizable deliverables that truly resonate with your business goals and strategies. With cost efficiency and optimization in mind, our full-scope customer-aligned services propel your brand to surefire success.</p>
                            </div>

                            <div class="button">
                                <a href="services/technology-consulting/index.html" class="btn btn-blue">
                                    <span>View more</span>
                                </a>
                            </div>

                        </div>
                        <div id="tab8" class="tab-pane fade ">

                            <div class="title">UI/UX Design</div>
                            <div class="summary">
                                <div class="summary">
                                    <p><strong>Robust UI/UX design solutions to expedite your website or app performance and drive customer satisfaction.</strong></p>
                                    <p>Great-looking UI/UX design is a mainstay for companies striving to be ahead of the pack among competitors. We always make sure every element has a defined purpose and adds value to the overall impression. The attractive design of your website or business app dovetailed with eye-catching visual elements drastically improves customer experience and strengthens your brand awareness on the market.</p>
                                </div>
                            </div>

                            <div class="button">
                                <a href="services/ui-ux-design/index.html" class="btn btn-blue">
                                    <span>View more</span>
                                </a>
                            </div>

                        </div>
                        <div id="tab9" class="tab-pane fade ">

                            <div class="title">Business analysis</div>
                            <div class="summary">
                                <p><strong>Predict your project results and create business value</strong></p>
                                <p>We leverage Business Intelligence capabilities to provide our customers with reliable technical analytical services. While offering comprehensive performance audit and consulting, we take a fresh look at the current state of your business to eliminate all the weak spots and find wise technical solutions to fit company needs.</p>
                            </div>

                            <div class="button">
                                <a href="services/business-analysis/index.html" class="btn btn-blue">
                                    <span>View more</span>
                                </a>
                            </div>

                        </div>
                        <div id="tab10" class="tab-pane fade ">

                            <div class="title">Quality Assurance &amp; Testing</div>
                            <div class="summary">
                                <div class="summary">
                                    <p><strong>ByteAnt provides a full range of QA and testing services to ensure the Web and mobile solutions meet the highest standards</strong></p>
                                    <p>Here at ByteAnt, we ensure the security, usability and performance of your product. Our testing experts get involved in a project at the earliest stage to guarantee the robust realization of the solution. We apply both Manual and Automated Testing techniques to achieve a high level of efficiency.</p>
                                </div>
                            </div>

                            <div class="button">
                                <a href="services/quality-assurance-testing/index.html" class="btn btn-blue">
                                    <span>View more</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-7" id="careers">
        <div class="container">
            <h3 class="under-line">Industry recognition and partners</h3>
            <div class="row">
                <div class="col-xs-12">
                    <div class="title">We always do our best to become confident that our solutions meet our clients goals.</div>
                    <div class="content">
                        Our customers choose us for our trustful relationship, our personal attention, quick and efficient communication, our strong desire and ability to solve problems. Some of them have been collaborating with us since 2006.
                        Whatever the company’s size, line of business and requirements, we provide the services they need.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="clients-list" class="owl-carousel owl-theme clients-list">
                        <div class="item">
                            <img src="~/media/1107/home_portfolio6.png" alt="" />

                        </div>
                        <div class="item">
                            <img src="~/media/1107/home_portfolio6.png" alt="" />

                        </div>
                        <div class="item">
                            <img src="~/media/1107/home_portfolio6.png" alt="" />

                        </div>
                        <div class="item">
                            <img src="~/media/1107/home_portfolio6.png" alt="" />

                        </div>
                        <div class="item">
                            <img src="~/media/1107/home_portfolio6.png" alt="" />

                        </div>
                        <div class="item">
                            <img src="~/media/1107/home_portfolio6.png" alt="" />

                        </div>
                        <div class="item">
                            <img src="~/media/1107/home_portfolio6.png" alt="" />

                        </div>
                        <div class="item">
                            <img src="~/media/1107/home_portfolio6.png" alt="" />

                        </div>
                        <div class="item">
                            <img src="~/media/1107/home_portfolio6.png" alt="" />

                        </div>
                        <div class="item">
                            <img src="~/media/1107/home_portfolio6.png" alt="" />

                        </div>
                        <div class="item">
                            <img src="~/media/1107/home_portfolio6.png" alt="" />

                        </div>
                        <div class="item">
                            <img src="~/media/1107/home_portfolio6.png" alt="" />

                        </div>
                        <div class="item">
                            <img src="~/media/1107/home_portfolio6.png" alt="" />

                        </div>
                        <div class="item">
                            <img src="~/media/1107/home_portfolio6.png" alt="" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="our-case" data-style="background-image: url('/media/1445/5.jpg');">
        <div class="container case-flex-wrap">
            <div class="row case-conatain">
                <div class="col-md-12">
                    <h3 class="case-title">Check Out Our Latest Case Study</h3>
                </div>
                <div class="col-md-12">
                    <h2 class="case-solution">IoT and BigData Solution for Sports Gyms</h2>
                </div>
                <div class="col-md-12">
                    <div class="button">
                        <a href="blog/case-study-how-iot-and-bigdata-transform-sports-industry/index.html" class="btn btn-blue">
                            <span>DOWNLOAD</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section-8" id="contacts">
        <div>
            <div class="section-8-left">
                <span class="icon-quote icon-quote-lg"></span>
                <div>
                    <div class="title">What our clients say</div>
                    <div class="qoute-slider">
                        <div class="quote-header">
                            <button class="slide-quote-btn slide-quote-btn-prev"></button>
                            <button class="slide-quote-btn slide-quote-btn-next"></button>
                            <hr class="line" />
                            <span class="icon-quote"></span>
                        </div>
                        <div id="quotes-list" class="quotes-list owl-carousel">
                            <div class="item">
                                <div class="quote-content">
                                    The ByteAnt team took over an existing development project and have been able to handle the associated issues well. The team is effective, skilled, and transparent in their work, always demonstrating their competence and trustworthiness.
                                </div>
                                <div class="quote-author-wrp text-right">
                                    <span class="name">Sep Niakan</span>
                                    <br />
                                    <span class="company">Managing Broker, HB Roswell Realty</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="quote-content">
                                    The platform serves as a pillar in the overall firm web presence. ByteAnt uses agile methodology and project management tools to produce high-quality work efficiently. They lead a seamless workflow thanks to regular communication, timely delivery, and flexible resources.
                                </div>
                                <div class="quote-author-wrp text-right">
                                    <span class="name">Marcel Siegenthaler</span>
                                    <br />
                                    <span class="company">Senior Consultant &amp; Partner at topsoft</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="quote-content">
                                    Excellent communication and project management. Delivers the project on time and within budget.
                                </div>
                                <div class="quote-author-wrp text-right">
                                    <span class="name">Mark Brooks</span>
                                    <br />
                                    <span class="company">CTO at BLUSTOR </span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="quote-content">
                                    Delivered what was proposed with good ideas and flexible handling.
                                    Well done – thanks.
                                </div>
                                <div class="quote-author-wrp text-right">
                                    <span class="name">Rico Van Voornveld</span>
                                    <br />
                                    <span class="company">CEO at UNIPLEX.CH </span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="quote-content">
                                    Very good company to work with. All professionals and communication is very good. Professional good work. Been working with them for quite some time now, never met a team on freelancer this professional.
                                </div>
                                <div class="quote-author-wrp text-right">
                                    <span class="name">Ozan Coşkun</span>
                                    <br />
                                    <span class="company">CEO at IGOA.IN</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-8-right visible-lg">
                <div class=""></div>
            </div>
        </div>
    </section>

    <section class="section-5 relative">
        <div class="circle-wrp circle-wrp-left hidden-xs hidden-sm">
            <div class="circle red-circle"></div>
            <div class="circle blue-circle"></div>
        </div>
        <div class="circle-wrp circle-wrp-right hidden-xs hidden-sm">
            <div class="circle red-circle"></div>
            <div class="circle blue-circle"></div>
        </div>
        <div class="container relative">
            <div class="text-center">
                <div class="title">ByteAnt Experience in Business Domains</div>
                <div class="domain-items">
                    <div class="row">
                        <div class="col-xs-6 col-sm-2 item"><a rel="noopener" data-udi="umb://document/300c30c1ed8f4943af8b803eaa8bbeef" href="services/saas-cloud-solutions/index.html" target="_blank" title="SaaS / Cloud solutions"><span class="icon-domain icon-software-vendors"></span> <span class="caption">SOFTWARE VENDORS</span></a></div>
                        <div class="col-xs-6 col-sm-2 item"><a rel="noopener" data-udi="umb://document/9acdfbe7bfe74acc9d75b2229ece935b" href="portfolio/automotive-iot-and-multitenant-saas-solution/index.html" target="_blank" title="Automotive IoT and Multitenant  SaaS solution"><span class="icon-domain icon-automotive"></span> <span class="caption">AUTOMOTIVE</span></a></div>
                        <div class="col-xs-6 col-sm-2 item"><a rel="noopener" data-udi="umb://document/2f2cfde68e5347abb859c17edf7e49e2" href="industries/big-data-and-real-estate/index.html" target="_blank" title="Big Data and Real Estate"><span class="icon-domain icon-real-estate"></span> <span class="caption">REAL ESTATE</span></a></div>
                        <div class="col-xs-6 col-sm-2 item"><a rel="noopener" data-udi="umb://document/79b4ffc708ee4fdda5133e9261859ce5" href="portfolio/iot-solution-for-sport-gyms/index.html" target="_blank" title="IoT solution for Sport gyms"><span class="icon-domain icon-sports"></span> <span class="caption">SPORTS</span></a></div>
                        <div class="col-xs-6 col-sm-2 item"><a rel="noopener" data-udi="umb://document/0b6371bd8bcb4f1eab06cf3761897f0d" href="industries/iot-healthcare-solutions/index.html" target="_blank" title="IoT Healthcare Solutions"><span class="icon-domain icon-healthcare"></span> <span class="caption">HEALTHCARE</span></a></div>
                        <div class="col-xs-6 col-sm-2 item"><a rel="noopener" data-udi="umb://document/83e117ce619047b8b05548f9f34d56ce" href="portfolio/e-commerce-solution-for-a-family-of-food-brands/index.html" target="_blank" title="E-commerce solution for a family of food brands"><span class="icon-domain icon-ecommerce"></span> <span class="caption">ECOMMERCE</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-6" id="portfolio">
        <div class="row no-gutters">
            <div class="container">
                <div class="col-xs-12">
                    <h3 class="under-line">Portfolio</h3>
                    <p class="title">Some of Our Latest Work</p>
                    <div class="portfolio-nav">
                        <ul class="nav nav-pills portfolio-categories-tabs tags-container">
                            <li class="active"><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="all"><span class="tab-name">All</span></a></li>
                            <li><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="Multitenancy"><span class="tab-name">Multitenancy</span></a></li>
                            <li><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="Marketplace"><span class="tab-name">Marketplace</span></a></li>
                            <li><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="CMS"><span class="tab-name">CMS</span></a></li>
                            <li><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="Startup"><span class="tab-name">Startup</span></a></li>
                            <li><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="Project-Management"><span class="tab-name">Project Management</span></a></li>
                            <li><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="CRM"><span class="tab-name">CRM</span></a></li>
                            <li><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="ERP"><span class="tab-name">ERP</span></a></li>
                            <li><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="IoT"><span class="tab-name">IoT</span></a></li>
                            <li><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="SaaS"><span class="tab-name">SaaS</span></a></li>
                            <li><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="Digitalization"><span class="tab-name">Digitalization</span></a></li>
                            <li><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="Mobile-App"><span class="tab-name">Mobile App</span></a></li>
                            <li><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="Plugins"><span class="tab-name">Plugins</span></a></li>
                            <li><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="Social-network"><span class="tab-name">Social network</span></a></li>
                            <li><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="Marketing"><span class="tab-name">Marketing</span></a></li>
                            <li><a href="#" data-target="#portfolio-tab" data-toggle="tab" data-category="E-commerce"><span class="tab-name">E-commerce</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container portfolio-padding">
                <div class="col-xs-12">
                    <div class="tab-content">
                        <div id="portfolio-tab" class="portfolio-list active clearfix">
                            <div class="item Multitenancy Marketplace CMS ">
                                <img class="latest-work-img" src="media/1110/home_portfolio9.png" alt="Multi-vendor marketplace" />
                                <div class="overlay">
                                    <div class="title">Multi-vendor marketplace</div>
                                    <div class="description"></div>
                                    <div><a href="portfolio/multi-vendor-marketplace/index.html" class="btn"><span>View details</span></a></div>
                                </div>
                            </div>
                            <div class="item Marketplace CMS ">
                                <img class="latest-work-img" src="media/1114/home_portfolio13.jpg" alt="Real Estate marketplace" />
                                <div class="overlay">
                                    <div class="title">Real Estate marketplace</div>
                                    <div class="description"></div>
                                    <div><a href="portfolio/real-estate-marketplace/index.html" class="btn"><span>View details</span></a></div>
                                </div>
                            </div>
                            <div class="item Marketplace Startup Project-Management ">
                                <img class="latest-work-img" src="media/1113/home_portfolio12.jpg" alt="Flow Management Marketplace" />
                                <div class="overlay">
                                    <div class="title">Flow Management Marketplace</div>
                                    <div class="description"></div>
                                    <div><a href="portfolio/flow-management-marketplace/index.html" class="btn"><span>View details</span></a></div>
                                </div>
                            </div>
                            <div class="item CRM ERP IoT SaaS Digitalization ">
                                <img class="latest-work-img" src="media/1105/home_portfolio4.png" alt="Custom SaaS solution for metering companies" />
                                <div class="overlay">
                                    <div class="title">Custom SaaS solution for metering companies</div>
                                    <div class="description"></div>
                                    <div><a href="portfolio/custom-saas-solution-for-metering-companies/index.html" class="btn"><span>View details</span></a></div>
                                </div>
                            </div>
                            <div class="item SaaS Startup IoT ERP Multitenancy Mobile-App ">
                                <img class="latest-work-img" src="media/1107/home_portfolio6.png" alt="IoT solution for Sport gyms" />
                                <div class="overlay">
                                    <div class="title">IoT solution for Sport gyms</div>
                                    <div class="description"></div>
                                    <div><a href="portfolio/iot-solution-for-sport-gyms/index.html" class="btn"><span>View details</span></a></div>
                                </div>
                            </div>
                            <div class="item SaaS CRM ERP CMS ">
                                <img class="latest-work-img" src="media/1108/home_portfolio7.png" alt="CRM solution for Real Estate agencies" />
                                <div class="overlay">
                                    <div class="title">CRM solution for Real Estate agencies</div>
                                    <div class="description"></div>
                                    <div><a href="portfolio/crm-solution-for-real-estate-agencies/index.html" class="btn"><span>View details</span></a></div>
                                </div>
                            </div>
                            <div class="item Plugins ">
                                <img class="latest-work-img" src="media/1106/home_portfolio5.png" alt="Identity Card" />
                                <div class="overlay">
                                    <div class="title">Identity Card</div>
                                    <div class="description"></div>
                                    <div><a href="portfolio/identity-card/index.html" class="btn"><span>View details</span></a></div>
                                </div>
                            </div>
                            <div class="item Social-network Marketing Marketplace Multitenancy ">
                                <img class="latest-work-img" src="media/1111/home_portfolio10.png" alt="Social networking website" />
                                <div class="overlay">
                                    <div class="title">Social networking website</div>
                                    <div class="description"></div>
                                    <div><a href="portfolio/social-networking-website/index.html" class="btn"><span>View details</span></a></div>
                                </div>
                            </div>
                            <div class="item E-commerce ">
                                <img class="latest-work-img" src="media/1112/home_portfolio11.jpg" alt="E-commerce solution for a family of food brands" />
                                <div class="overlay">
                                    <div class="title">E-commerce solution for a family of food brands</div>
                                    <div class="description"></div>
                                    <div><a href="portfolio/e-commerce-solution-for-a-family-of-food-brands/index.html" class="btn"><span>View details</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-9 contact-us">
        <div>
            <div class="section-9-left col-md-12">
                <div>
                    <div class="title">Start your project with us!</div>
                    <div class="content">Please fill out the details to get in touch.</div>

                    <div class="cs-fade-shadow" id="contactUsLoader"></div>

                    <form action="https://www.byteant.com/umbraco/Surface/SurfaceContact/PostMessage" class="contact-us-form" data-ajax="true" data-ajax-failure="contactMessageFailure" data-ajax-loading="#contactUsLoader" data-ajax-method="Post" data-ajax-success="contactMessageSuccess" id="ContactForm" method="post">
                        <div class="row">
                            <input name="__RequestVerificationToken" type="hidden" value="pOYcGrBHsmdfk9UNYfGTgtSsBuhP-_R9Zkk3kGNE2bYB6EVqKnST7UEDW5DofGIfFICUbT0UJ6a5dprpWuQrM9R0S5pgZU6zxlfnRblPlBs1" />

                            <div class="col-xs-12 col-sm-5">
                                <label>Your Name</label>
                                <input data-val="true" data-val-required="Name is required" id="Name" maxlength="50" name="Name" type="text" value="" />
                                <hr />
                                <div class="wrap-validation-error">
                                    <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col-xs-hidden col-sm-2"></div>
                            <div class="col-xs-12 col-sm-5">
                                <label>Email Address</label>
                                <input data-val="true" data-val-regex="The Email field is not valid" data-val-regex-pattern="^[a-zA-Z0-9_\+-]+(\.[a-zA-Z0-9_\+-]+)*[a-zA-Z0-9-]+(\.[a-zA-Z0-9]+)*\.([a-zA-Z]{2,4})$" data-val-required="Email is required" id="Email" maxlength="50" name="Email" type="text" value="" />
                                <hr />
                                <div class="wrap-validation-error">
                                    <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <label>Phone (optional)</label>
                                <input data-val="true" data-val-regex="The phone field is not valid" data-val-regex-pattern="^\d*$" id="Phone" maxlength="50" name="Phone" type="text" value="" />
                                <hr />
                                <div class="wrap-validation-error">
                                    <span class="field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col-xs-hidden col-sm-2"></div>
                            <div class="col-xs-12 col-sm-5">
                                <label>Company (optional)</label>
                                <input id="Company" maxlength="50" name="Company" type="text" value="" />
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Message</label>
                                <textarea cols="20" data-val="true" data-val-required="Message is required" id="Message" maxlength="3000" name="Message" rows="2">
</textarea>
                                <hr />
                                <div class="wrap-validation-error">
                                    <span class="field-validation-valid" data-valmsg-for="Message" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="message contact-message js-message text-success" style="display: none;">Your message has been successfully sent</span>
                                <span class="message contact-message js-message-failure text-danger" style="display: none;">Sorry there was an error sending your message</span>
                                <button type="submit" class="btn btn-red btn-submit pull-right" disabled>
                                    <span>SEND</span>
                                </button>

                                <div class="contact-frame_captcha-wrp">
                                    <div class="contact-frame_captcha">
                                        <div id="gRecaptcha" class="g-recaptcha"
                                             data-callback="onReturnCaptchaCallback"
                                             data-expired-callback="onRecaptchaExpired"
                                             data-sitekey="6LdSoj8UAAAAALfP0X8D0cM9lxBBfLl6KyiYcXAT"
                                             data-badge="inline"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="section-9-right js-contact-home col-md-12">

                <div>
                    <div class="title">Ukraine</div>
                    <div class="content icon icon-location">
                        Zelena street, 115B, 4th floor,<br />
                        79035 Lviv, Ukraine,<br />
                        EEST
                    </div>
                    <div class="title">Europe</div>
                    <div class="content icon icon-location">
                        P&#228;rnu mnt 158/2-88, Kesklinna linnaosa,<br />
                        11317 Tallinn, Harju maakond, Estonia,<br />
                        EEST
                    </div>
                    <div class="content icon icon-phone">
                        <p>Ukraine:<br />+380953611802</p>
                    </div>
                    <div class="content icon icon-mail">
                        <a href="mailto:hello@byteant.com" class="email-link"><span>hello@byteant.com</span></a>
                    </div>
                    <div class="social">
                        <p>
                            <a href="https://www.linkedin.com/company/byteant" target="_blank">
                                <span id="linkedinIcon" class="social-icon" style="background-image:url(media/1184/in.svg);" data-backhover="url(/media/1185/in-hover.svg)"></span>
                                <span style="background-image:url(media/1185/in-hover.svg); display: none;"></span>
                            </a>
                            <a href="https://twitter.com/byte_ant" target="_blank">
                                <span id="twitterIcon" class="social-icon" style="background-image:url(media/1186/twitter.svg);" data-backhover="url(/media/1187/twitter-hover.svg)"></span>
                                <span style="background-image:url(media/1187/twitter-hover.svg); display: none;"></span>
                            </a>
                            <a href="https://www.facebook.com/byteant.company" target="_blank">
                                <span id="facebookIcon" class="social-icon" style="background-image:url(media/1182/fb.svg);" data-backhover="url(/media/1183/fb-hover.svg)"></span>
                                <span style="background-image:url(media/1183/fb-hover.svg); display: none;"></span>
                            </a>
                            <a href="https://www.instagram.com/byteant.company" target="_blank">
                                <span id="instagramIcon" class="social-icon" style="background-image:url(media/1272/insta.svg);" data-backhover="url(/media/1273/insta-hover.svg)"></span>
                                <span style="background-image:url(media/1273/insta-hover.svg); display: none;"></span>
                            </a>
                            <a href="https://www.behance.net/ByteAnt_design" target="_blank">
                                <span id="beIcon" class="social-icon" style="background-image:url(media/1190/be.svg);" data-backhover="url(/media/1191/be-hover.svg)"></span>
                                <span style="background-image:url(media/1191/be-hover.svg); display: none;"></span>
                            </a>
                            <a href="https://www.xing.com/xbp/pages/byteant" target="_blank">
                                <span id="xingIcon" class="social-icon" style="background-image:url(media/1188/xing.svg);" data-backhover="url(/media/1189/xing-hover.svg)"></span>
                                <span style="background-image:url(media/1189/xing-hover.svg); display: none;"></span>
                            </a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>




    <footer class="">
        <div class="text-center">
            <ul class="nav navbar-nav">
                <li class="nav-item-centered "><a href="index.html" class="nav-active"><span>Home</span></a></li>
                <li class="nav-item-centered "><a href="services/index.html" class=""><span>What we do</span></a></li>
                <li class="nav-item-centered "><a href="portfolio/index.html" class=""><span>Success stories</span></a></li>
                <li class="nav-item-centered "><a href="/home/aboutus"><span>Who we are</span></a></li>

                <li class="nav-item-centered "><a href="blog/index.html" class=""><span>Blog</span></a></li>
                <li class="nav-item-centered "><a href="careers/index.html" class=""><span>Careers</span></a></li>
                <li class="nav-item-centered "><a href="contact-us/index.html" class=""><span>Contact us</span></a></li>

            </ul>
        </div>
        <hr />

    </footer>

    <script src="~/Scripts/scriptsb09e.js"></script>


    <script>
        $.cookieMessage({
            'mainMessage': '<p>This website uses cookies to provide you with great user experience. By using this website you consent to our use of these cookies.</p>',
            'acceptButton': 'Got It!',
            'backgroundColor': '#f2f5f8',
            'fontColor': '#324354;',
            'linkFontColor': '#324354',
            'btnBackgroundColor': 'inherit',
            'btnFontColor': '#323f4e',
        });
    </script>



    <script src="~/Scripts/homed90d.js"></script>

    <script>
        $(document).ready(function () {
            $("#learn").click(function () {
                $('html, body').animate({
                    scrollTop: $("#services").offset().top
                }, 1000);
            });
        });
    </script>


