﻿@{
    ViewBag.Title = "xx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>contactus</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
