﻿<footer class="">
    <div class="text-center">
        <ul class="nav navbar-nav">
            <li class="nav-item-centered "><a href="index.html" class="nav-active"><span>Ev</span></a></li>
            <li class="nav-item-centered "><a href="services/index.html" class=""><span>İşimiz</span></a></li>
            <li class="nav-item-centered "><a href="portfolio/index.html" class=""><span>Tamamalanan Projeler</span></a></li>
            <li class="nav-item-centered "><a href="/home/aboutus"><span>Kimiz</span></a></li>

            <li class="nav-item-centered "><a href="blog/index.html" class=""><span>Blog</span></a></li>
            <li class="nav-item-centered "><a href="careers/index.html" class=""><span>Kariyerdir</span></a></li>
            <li class="nav-item-centered "><a href="contact-us/index.html" class=""><span>Bize Ulaşın</span></a></li>

        </ul>
    </div>
    <hr />

</footer>
