﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta property="og:type" content="website" />
    <meta property='og:image' content="" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kişisel Yazılım Geliştirme, Büyük Veri, AI-Yapay Zeka | 2BTURKUAZ</title>
    <meta name="description" content="2BTURKUAZ,orta ölçekli işletmeler ve küçük işletmeler için Kişisel Yazılım Geliştirme, Büyük Veri, AI-Yapay Zeka çözümlerinde derin uzmanlığa sahip, çevik bir özel yazılım geliştirme şirketidir.
          ">
    <meta name="keywords" content="Kişisel Yazılım Geliştirme, Büyük Veri, AI-Yapay Zeka , 2BTURKUAZ">

    <style>
        body {
            background-color: gray;
        }

        h1 {
            font-family: helvetica;
            font-size: 2.5rem;
            color: black;
            position: relative;
            top: 80px;
            z-index: -1;
        }

        #canvas {
            display: block;
            margin: 5vh auto;
            border-radius: 50%;
            box-shadow: 0 5px 14px black;
        }
    </style>


    <link href="~/Content/index25cd.css" rel="stylesheet" />
    <link href="~/Content/stylesb4a5.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="images/favicons/manifest.json">
    <link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://www.google-analytics.com/" crossorigin>
    <link rel="preconnect" href="https://forms.hubspot.com/" crossorigin>
    <link rel="preconnect" href="https://track.hubspot.com/" crossorigin>
    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="fonts/GothaProBol.woff2">
    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="fonts/GothaProMed.woff2">
    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="fonts/GothaProReg.woff2">
    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="fonts/GothaProLig.woff2">
</head>

<body>

    @Html.Partial("_navbar")
    @RenderBody()
    @Html.Partial("_footer")
    <script src="~/Scripts/homed90d.js"></script>
    <script src="~/Scripts/scriptsb09e.js"></script>

</body>
</html>
