﻿
<div class="navbar navbar-default slide-in" role="navigation">
    <div class="container-fluid header-container">
        <div class="container">
            <div class="navbar-header">
                <div class="nav-toggle navbar-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a href="index.html" class="navbar-brand smoothScroll">
                    <div>
                        <img src="~/images/2b/2blogo.jpg" class="logo" alt="2BTURKUAZ Logo" />

                    </div>
                </a>
            </div>
            <div class="pull-right">
                <a href="contact-us/index.html" class="get-in-touch smoothScroll visible-lg">
                    <span>Bize Ulaşın</span>
                </a>
            </div>
            <div class="collapse navbar-collapse text-center">
                <ul class="nav navbar-nav">
                    <li class="nav-item-centered "><a href="services/index.html" class=""><span>İŞİMİZ</span></a></li>
                    <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                    <li class="nav-item-centered "><a href="portfolio/index.html" class=""><span>Tamamlanan PROJELER</span></a></li>
                    <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                    <li class="nav-item-centered "><a href="/Home/Aboutus"><span>KİMİZ</span></a></li>

                    <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                    <li class="nav-item-centered "><a href="blog/index.html" class=""><span>Blog</span></a></li>
                    <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                    <li class="nav-item-centered "><a href="careers/index.html" class=""><span>Kariyer</span></a></li>

                    <li class="col-sm-3 visible-xs"><a href="contact-us/index.html"><span>BİZE ULAŞIN</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="header-small navbar navbar-default" role="navigation">
    <div class="container header-container">

        <div class="navbar-header">
            <div class="navbar-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a href="index.html" class="navbar-brand smoothScroll">
                <div>
                    <img src="~/images/2b/2blogo.jpg" class="logo logo-small" alt="2BTURKUAZ Logo" />
                </div>
            </a>
        </div>
        <div class="pull-right">
            <a href="contact-us/index.html" class="get-in-touch smoothScroll visible-lg ">
                <span>Bize Ulaşın</span>
            </a>
        </div>
        <div class="collapse navbar-collapse text-center">
            <ul class="nav navbar-nav">
                <li class="nav-item-centered "><a href="Home/services" class=""><span>İŞİMİZ</span></a></li>
                <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                <li class="nav-item-centered "><a href="portfolio/index.html" class=""><span>Tamamlanan PROJELER</span></a></li>
                <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                <li class="nav-item-centered "><a href="/Home/Aboutus" class=""><span>KİMİZ</span></a></li>
                <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                <li class="nav-item-centered "><a href="blog/index.html" class=""><span>Blog</span></a></li>
                <li class="hidden-xs hidden-sm"><div class="point"></div></li>
                <li class="nav-item-centered "><a href="careers/index.html" class=""><span>Kariyer</span></a></li>

                <li class="col-sm-3 visible-xs"><a href="contact-us/index.html"><span>BİZE ULAŞIN</span></a></li>
            </ul>
        </div>
    </div>
</div>